.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 32px;
}

.skill-box {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
  background: #f9fafb;
}

.skill-box h4 {
  margin-bottom: 12px;
  color: #111827;
}
h2{
  color:#3b69e8
}
.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-tags span {
  padding: 6px 12px;
  border-radius: 5px;
  background: #c8d0e989;
  color: #1e3a8a;
  font-size: 13px;
  font-weight: 600;
}

/* Mobile */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}
